@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
}

:root {
  --background: #0B0B0F;
  --foreground: #E0E0E0;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  overflow-x: hidden;
}

/* Utilities */
@utility no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
